@import url(/css/comunes.css);

form {
  grid-template-rows: repeat(4, 1.5rem) 3rem 3rem;
  grid-template-areas:
    "  .   label_email    .  "
    "  .   email          .  "
    "  .   label_pwd1     .  "
    "  .   pwd1           .  "
    "  .   submit         .  "
    "  .   nav            .  ";
}

.label_pwd1 {
  grid-area: label_pwd1;
}

#pwd1 {
  grid-area: pwd1;
}
