@import url(/css/comunes.css);

form {
  grid-template-columns: auto 12rem auto;
  grid-template-rows: 1.5rem 1.5rem 2rem 2rem;
  grid-template-areas:
    "  .   label_email    .  "
    "  .   email          .  "
    "  .   label_pwd1     .  "
    "  .   pwd1           .  "
    "  .   submit         .  "
    "  .   nav            .  ";
}

.label_pwd1 {
  grid-area: label_pwd1;
}

#pwd1 {
  grid-area: pwd1;
}
