@import url(/css/comunes.css);

form {
  grid-template-columns: auto 12rem auto;
  grid-template-rows: 1.5rem 1.5rem 2rem 2rem;
  grid-template-areas:
    "  .   label_email    .  "
    "  .   email          .  "
    "  .   submit         .  "
    "  .   nav            .  ";
}
