@import url(/css/comunes.css);
section#index p {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}

section#index a {
  display: block;
  font-family: "Oswald", "Sans-serif";
  font-size: 1rem;
  text-decoration: none;
  color: var(--orange);
  text-align: center;
  padding-bottom: 1rem;
}
